body {
    background-color: #22cc88;
}

h1, h2 {
    text-align: center;
}

#box {
    margin: 50px auto 400px auto;
    width: 700px;
    height: 800px;
    background-color: #55ffdd;
    border-radius: 600px;
    border: 4px solid black;
}

hr {
    height: 20px;
    background-color: #22ffbb;
    padding: 5px;
    border: 4px solid black;
}

#box img {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    top: 300px;
    
}
